body {
    display: flex;
    flex-direction: column;
    color: rgb(66, 94, 129);
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue; /* Default background color */
}

/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        background-color: pink; /* Adjust background color for tablets */
    }
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
    body {
        background-color: rgb(205, 235, 205); /* Adjust background color for mobile */
    }
}
    section {
        margin-bottom: 15px;
}
h1 {
        font-size: 36px;
        line-height: 14px;
  }
    h2 {
        font-size: 20px;
        line-height: 44px;
}
    h3 {
        font-size: 21px;
}
    h4 {
        color: #3d698e;
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
        text-align: center;
}
    a:hover {
        color: #a9b2b9;
}
    a {
        color: #648880;
}

    ul {
        margin-left: -1em;
}
        li {
        list-style: none;
        /* background: url(images/bullet.png) no-repeat 0 2px; */
        padding-left: 20px;
}
/* Additional CSS to display list item inline */

nav {
    position: absolute;
    top: 10px;
    right: 0;
    padding:0px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: auto;
    margin-bottom: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

}

nav ul li {
    display: inline;
    margin-left: 10px;
    text-align:end;
    padding: 10px 10px;
}

nav ul li:last-child {
    margin-left: 10;
}

nav ul li:nth-child(1) {
    background-color: #75bae8; 
    border-radius: 15px;
}

nav ul li:nth-child(2) {
    background-color: #e49b93; 
    border-radius: 15px;
}

nav ul li:nth-child(3) {
    background-color: #93e5b5; 
    border-radius: 15px;
}

nav ul li:nth-child(4) {
    background-color: #e7c38a; 
    border-radius: 15px;
}

nav ul li:nth-child(5) {
    background-color: #c8abd4; 
    border-radius: 15px;
}

nav ul li:nth-child(6) {
    background-color: #667585; 
    border-radius: 15px;
}
nav a {
    color: #fff; 
    text-decoration: none; 
    font-size: 16px;
}

nav a:hover {
    background-color: #555; 
}


.skills li {
    background-color: burlywood;
    padding: 8px;
    margin-bottom:5px;

}
form label {
    display: block;
    margin-bottom: 5px;
}
form input[type="text"],
form input[type="email"],
form textarea {
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button[type="submit"] {
    padding: 10px 20px;
    background-color:rgb(118, 155, 242);
    color: rgb(229, 238, 229);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    padding: 10px;
    background-color: rgb(156, 192, 210);
    color: rgb(55, 48, 39);
    text-align: center;
}
#about {
    background-color: #e0f5e0;
    border: none;
    border-radius: 20px;
    line-height: 1.5;
    padding: 20px;
    text-align: center;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 60px;
    margin-bottom: 20px;
}

#Skills {
    background-color: #e5e5ff;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#Projects {
    background-color:#f5e0e0;
    border: none;
    border-radius: 15px;
    display: flexbox;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.Projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Projects-item {
    flex: 1 0 200px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

#experience {
    background-color: #ebe0e0;
    border: none;
    border-radius: 15px;
    display: flexbox;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.experience-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.experience-item {
    flex: 1 0 100px;
    border: #3498db;
    border-radius: 35px;
    background-color: #eee;
    padding: 5px;
}
#connect {
    background-color: #e0f5e0;
    text-align: center;
    font-size:x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border: none;
    border-radius: 15px;
}

.leave-message-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto; 

}

.leave-message-form label,
.leave-message-form input,
.leave-message-form textarea,
.leave-message-form button {
    margin-bottom: 10px;
   
}

.leave-message-form input,
.leave-message-form textarea,
.leave-message-form button {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: auto;
}

.leave-message-form button {
    background-color: #476a8e;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.leave-message-form button:hover {
    background-color: #0056b3;
}

#leaveMessage {
    background-color: rgb(217, 233, 233);
    position: relative;
    font-size:large;
    font-style: italic;
    border: none;
    border-radius: 15px;
  }
